<header>
    <div class="header-content">
       <br>
       <br>
       <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
        <!-- START CLICKX LEAD MAGNET CODE --> <script type='text/javascript' tracker_id ="nBM3vTYoMWc"  src='https://clickx-staging.herokuapp.com/clickx-lead-magnetv2.js' async defer></script><!-- END CLICKX LEAD MAGNET CODE -->
        <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
       </div>
    </div>
</header>
